<div id="container">
    <div id="content">
        <ul>
            <div>Get-Articles</div>
            <li><a><button (click)="checkToken('getAll')">Get all Articles in Database</button></a></li>
            <li><a><button (click)="checkToken('getById')">Get one Article by its ID</button></a></li>
            <div>Create / Update Articles</div>
            <li><a><button (click)="checkToken('postArticle')">Create a new Article</button></a></li>
            <li><a><button (click)="checkToken('updateArticle')">Update one Article by ID</button></a></li>
            <div>Delete Article</div>
            <li><a><button (click)="checkToken('deleteArticle')">Delete one Article by ID</button></a></li>
        </ul>
    </div>
</div>